@charset "utf-8";

*{
	padding: 0;
	margin: 0;
}

body{
	text-align: center;
	font-size: 12px;
}

a{
	text-decoration: none;
}

a:link{
	color: ligtgray;
}

a:visted{
	color : white;
}

a:hover{
	color : hotpink;
}

a:active{
	color : blue;
}

.wrap{
	width: 1000px;
	margin: 0 auto;
}

header{
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	line-height: 100px;
	color: white;
	margin-bottom: 10px;
}

.top-logo{
	background-color: #a7d9b4;
	width: 25%;
	height: 100%;
}

.top-banner{
	background-color: #e8cce1;
	width: 75%;
	height: 100%;
}

nav{
	background-color: rgb(0, 0, 64);
	width: 100%;
	height : 40px;
	margin-bottom: 10px;
}

nav ul{
	display : flex;
	justify-content: space-around;
}

.memnu-link{
	list-style: none;
	font-size : 12px;
	color : white;
	text-align: center;
	line-height: 40px;
	width: 70px;
	border: 0px solid green;
}

section{
	border: 1px solid cyan;
	background-color: #f8f8f8;
	height: 400px;
	margin-bottom: 10px;
}

footer{
	background-color: slategray;
	height: 200px;
	line-height: 200px;
	color : white;
}

table{
	width: 100%;
	border : 2px solid #444;
	border-collapse: collapse; /* 셀 사이 여백을 없애줌 */
}

th, td{
	border: 1px solid #444;
	padding: 10px;
}

caption{
	padding: 20px;
	font-size: 1rem;
	font-weight: bold;
	text-transform: uppercase;
}

button{
	padding: 4px 10px 5px;
	font-size: 12px;
}